@model Domain.Rsa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rsa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="N" class="control-label"></label>
                <input asp-for="N" class="form-control" />
                <span asp-validation-for="N" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="D" class="control-label"></label>
                <input asp-for="D" class="form-control" />
                <span asp-validation-for="D" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E" class="control-label"></label>
                <input asp-for="E" class="form-control" />
                <span asp-validation-for="E" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlainText" class="control-label"></label>
                <input asp-for="PlainText" class="form-control" />
                <span asp-validation-for="PlainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CipherText" class="control-label"></label>
                <input asp-for="CipherText" class="form-control" />
                <span asp-validation-for="CipherText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
